<% form_for_resource do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :char %><br />
	<%= lookup(f, :char_id, Char ) %>
  </p>
  <p>
    <%= f.label :base_slot %><br />
	<%= lookup(f, :game_base_slot_id, GameBaseSlot ) %>
  </p>
  <p>
    <%= f.submit 'Save ' %>
  </p>
<% end %>
