  <tr>
    <td><%=link_to slot.code, slot %></td>
    <td><%= iconify slot.current_icon %></td>
    <td><%=link_to slot.char.name, slot.char %></td>
    <td><%=h slot.name %></td>
    <td><%=link_to slot.item.name, slot.item if slot.item %></td>
  </tr>
