<p>
  <b>Slot type:</b>
  <%=h resource.slot_type %>
</p>

<p>
  <b>Accepts:</b>
  <%=h resource.accepts %>
</p>

<p>
  <b>Birth right:</b>
  <%=h resource.birth_right %>
</p>

<hr>

<p>
  <b>Code:</b>
  <%=h resource.code %>
</p>


<p>
  <b>Char:</b>
  <%=link_to @slot.char.name, @slot.char %>
</p>

<p>
  <b>Contains:</b>
  <%=link_to resource.item.name, resource.item if resource.item %>
</p>
