<% form_for_resource do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= resource.code  %>
  </p>
  <p>
    <%= f.label :char %><br />
    <%= link_to resource.char.name , resource.char  %>
  </p>
  <p>
    <%= f.label :slot_type %><br />
    <%= f.text_field :slot_type %>
  </p>
  <p>
    <%= f.label :contains %><br />
    <%#= select f.text_field :contains %>
	<%= collection_select resource, :contains_id, Item.find(:all), :id, :code %>
	<%#= select('char_slot', 'contains_id', Item.find_all.collect  {|item| item.id}) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
