<h1>Listing char_slots</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Char</th>
    <th>Slot type</th>
    <th>Contains</th>
  </tr>

<% @char_slots.each do |char_slot| %>
  <tr>
    <td><%=h char_slot.code %></td>
    <td><%=link_to char_slot.char.name, char_slot.char if char_slot.char %></td>
    <td><%=h char_slot.slot_type %></td>
    <td><%=link_to char_slot.contains.name, char_slot.contains  if char_slot.contains %></td>
    <td><%= link_to 'Show', char_slot %></td>
    <td><%= link_to 'Edit', edit_char_slot_path(char_slot) %></td>
    <td><%= link_to 'Destroy', char_slot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New char_slot', new_char_slot_path %>