<% form_for_resource do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :owner %><br />
	<%#= lookup(f, :game_base_faction_id, GameBaseFactions ) %>
    <%= f.text_field :owner %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>