<% form_for_resource do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :zone %><br />
    <%= f.text_field :zone %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>