<h1>Listing game_base_factions</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
  </tr>

<% @game_base_factions.each do |game_base_faction| %>
  <tr>
    <td><%=h game_base_faction.code %></td>
    <td><%=h game_base_faction.name %></td>
    <td><%= link_to 'Show', game_base_faction %></td>
    <td><%= link_to 'Edit', edit_game_base_faction_path(game_base_faction) %></td>
    <td><%= link_to 'Destroy', game_base_faction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game_base_faction', new_game_base_faction_path %>