<h1>Listing game_base_slots</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Icon</th>
    <th>Slot type</th>
    <th>Accepts</th>
    <th>Birth right</th>
  </tr>

<% @game_base_slots.each do |game_base_slot| %>
  <tr>
    <td><%=link_to  game_base_slot.code, game_base_slot %></td>
    <td><%=iconify game_base_slot.icon %></td>
    <td><%=h game_base_slot.slot_type %></td>
    <td><%=h game_base_slot.accepts %></td>
    <td><%=h game_base_slot.birth_right %></td>
  </tr>
<% end %>
</table>
