<h1>Listing game_base_slots</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Slot type</th>
    <th>Accepts</th>
    <th>Birth right</th>
  </tr>

<% @game_base_slots.each do |game_base_slot| %>
  <tr>
    <td><%=h game_base_slot.code %></td>
    <td><%=h game_base_slot.slot_type %></td>
    <td><%=h game_base_slot.accepts %></td>
    <td><%=h game_base_slot.birth_right %></td>
    <td><%= link_to 'Show', game_base_slot %></td>
    <td><%= link_to 'Edit', edit_game_base_slot_path(game_base_slot) %></td>
    <td><%= link_to 'Destroy', game_base_slot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New game_base_slot', new_game_base_slot_path %>