<p>
  <b>Code:</b>
  <%=h @game_base_slot.code %>
</p>

<p>
  <b>Icon:</b>
  <%= iconify @game_base_slot.icon %>
</p>


<p>
  <b>Slot type:</b>
  <%=h @game_base_slot.slot_type %>
</p>

<p>
  <b>Accepts:</b>
  <%=h @game_base_slot.accepts %>
</p>

<p>
  <b>Birth right:</b>
  <%=h @game_base_slot.birth_right %>
</p>
