<% form_for_resource do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :char %><br />
	<%= resource.char.name %>
  </p>
  <p>
    <%= f.label :game_base_faction %><br />
	<%= lookup(f, :game_base_faction_id, GameBaseFaction ) %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :points %><br />
    <%= f.text_field :points %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>