<p>
  <b>Code:</b>
  <%=h @reputation.code %>
</p>

<p>
  <b>Char:</b>
  <%=h @reputation.char.name %>
</p>

<p>
  <b>Game base faction:</b>
  <%=h @reputation.game_base_faction.name %>
</p>

<p>
  <b>Status:</b>
  <%=h @reputation.status %>
</p>

<p>
  <b>Points:</b>
  <%=h @reputation.points %>
</p>


<%= link_to 'Edit', edit_resource_path %> |
<%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %> | 
<%= link_to 'Back', resources_path %>

