<p>
  <b>Code:</b>
  <%=h @reputation.code %>
</p>

<p>
  <b>Char:</b>
  <%=h @reputation.char %>
</p>

<p>
  <b>Game base faction:</b>
  <%=h @reputation.game_base_faction %>
</p>

<p>
  <b>Status:</b>
  <%=h @reputation.status %>
</p>

<p>
  <b>Points:</b>
  <%=h @reputation.points %>
</p>


<%= link_to 'Edit', edit_reputation_path(@reputation) %> |
<%= link_to 'Back', reputations_path %>