<% form_for_resource do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :slot_type %><br />
	<%= f.select( :slot_type, resource.slot_types) %>
  </p>
  <p>
    <%= f.label :item_type %><br />
	<%= f.text_field :item_type %>
	<%#= f.select( :item_type, resource.item_types) %>
  </p>
  <p>
    <%= f.label :item_sub_type %><br />
	<%= f.text_field :item_sub_type %>
	<%#= f.select( :item_sub_type, resource.item_sub_types) %>
  </p>
  <p>
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </p>
  <p>
    <%= f.label :accepts %><br />
    <%= f.text_area :accepts %>
  </p>
  <p>
    <%= f.label :visual_model %><br />
    link_to_item visual_model
  </p>
  <p>
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </p>
  
  <p>
    <%= f.label :game_base_skill %><br />
    <%= lookup(f, :game_base_skill_id, GameBaseSkill, true ) %>
  </p>
  <p>
    <%= f.label :created_by %><br />
    link_to ability
  </p>
  <p>
    <%= f.label :max_stack_size %><br />
    <%= f.text_field :max_stack_size %>
  </p>
   <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
 