<h1>Listing game_base_items</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Icon</th>
    <th>Name</th>
    <th>Item Type</th>
    <th>Capacity</th>
    <th>Accepts</th>
    <th>Max Stack Size</th>
  </tr>

<% @game_base_items.each do |game_base_item| %>
  <tr>
    <td><%=link_to game_base_item.code, game_base_item %></td>
    <td><%= iconify game_base_item.icon %></td>
    <td><%=h game_base_item.name %></td>
    <td><%=h game_base_item.item_type %></td>
    <td><%=h game_base_item.capacity %></td>
    <td><%=h game_base_item.accepts %></td>
    <td><%=h game_base_item.max_stack_size %></td>
  </tr>
<% end %>
</table>
