<p>
  <b>Name:</b>
  <%=h @game_base_item.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @game_base_item.code %>
</p>

<p>
  <b>Slot Type:</b>
  <%=h resource.slot_type %>
</p>

<p>
  <b>Item Type:</b>
  <%=h resource.item_sub_type %>
</p>

<p>
  <b>Binding Type:</b>
  <%=h resource.binding_type %>
</p>

<p>
  <b>Capacity:</b>
  <%=h resource.capacity %>
</p>

<p>
  <b>Game Base Skill (if item is skill stone):</b>
  <%=link_to resource.game_base_skill.name, resource.game_base_skill if resource.game_base_skill%>
</p>


<p>
  <b>Accepts:</b>
  <%=h resource.accepts %>
</p>

<p>
  <b>Max Stack Size:</b>
  <%=h resource.max_stack_size %>
</p>

<p>
  <b>Range:</b>
  <%=h resource.range %>
</p>

<p>
  <b>Damage Bonus:</b>
  <%=h resource.damage_bonus %>
</p>

<p>
  <b>Icon:</b>
  <%= iconify resource.icon %>
</p>

<p>
  <b><%= show_box_for 'ingame_items', :link_name=> 'Ingame Items' %></b><!-- this is the link to open the detail box-->
    
  <% detail_box_for 'ingame_items' do %> <!-- this defines the initially hidden box -->
    <b><%= hide_box_for 'ingame_items', :link_name => 'Ingame Items' %></b> <!-- this is the link to close the detail box -->

<table>
  <tr>
    <th>Owner</th>
    <th>Base item</th>
    <th>Code</th>
    <th>Created by</th>
    <th>Stack Size</th>
  </tr>	
	<%= render :partial => resource.items %>
</table>
  <% end %>
 
</p>

<%= link_to 'Edit', edit_game_base_item_path(resource) %> |
<%= link_to 'Back', game_base_items_path %>