<p>
  <b>Name:</b>
  <%=h @game_base_skill.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @game_base_skill.code %>
</p>

<p>
  <b>School:</b>
  <%=h @game_base_skill.school %>
</p>

<p>
  <b>Cost:</b>
  <%=h @game_base_skill.cost %>
</p>

<p>
  <b>Cooldown:</b>
  <%=h @game_base_skill.cooldown %>
</p>

<p>
  <b>Casttime:</b>
  <%=h @game_base_skill.casttime %>
</p>

<p>
  <b>Duration:</b>
  <%=h @game_base_skill.duration %>
</p>

<p>
  <b>Mechanic:</b>
  <%=h @game_base_skill.mechanic %>
</p>

<p>
  <b>Dispel type:</b>
  <%=h @game_base_skill.dispel_type %>
</p>

<p>
  <b>Icon:</b>
  <%= iconify @game_base_skill.icon %>
</p>

<p>
  <b>Reagents:</b><br>
  <%= render :partial => resource.game_base_skill_reagents %>
</p>
