  <tr>
    <td><%=link_to char.user.login, char.user if char.user %></td>
    <td><%=link_to char.name, char %></td>
    <td><%=h char.gender %></td>
    <td><%=h char.played_time %></td>
    <td><%#=h char.parent %></td>
    <td><%= link_to 'Show', char %></td>
    <td><%= link_to 'Edit', edit_char_path(char) %></td>
    <td><%= link_to 'Destroy', char, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>