<% form_for_resource  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
    <%= link_to resource.user.login, resource.user  if resource.user %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>