<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %> :: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "widgets/tooltip" %>
  
</head>
<body>
<div id='menu' style="background: aqua">
<%= navigation :main %><br>
<%= navigation :in_game %><br>
<%= navigation :game_base %><br>
</div>
<div id='rolls' style="background: lime">
  <b>wuxai 10  :</b><%= wuxai 10 %></br>
  <b>leveler  :</b> <%= leveler %></br>
  <b>hit_crit_check :</b><%= hit_crit_check %></br>
</div>



<p style="color: green"><%= flash[:notice] %></p>
<h1><%= controller.controller_name %> :: <%= controller.action_name %></h1>
<%= yield %>

</body>
</html>
